 /*#ff9933(naranja), 003399(azul), 99cccc(azul bajito), cccccc(gris)*/
@font-face {
	font-family: "prstart";
	src: url(../fonts/prstart.ttf);
}
html{
    max-width: 100%;
    overflow-x: hidden;
}
div {
	font-family: "prstart";
}
 body {
	background-color: #003399;
}
#bienvenido {
	position: relative;
	text-align: center;
	top: 100px;
	color: #ff9933;
	font-family: "prstart";
	font-size: 50px;
}
.button {
	color: white;
	position: relative;
	left: 1vw;
	top: 170px;
	text-decoration: none;
	font-size: 40px;
	font-family: "prstart";
}
.button:hover {
	color: #cccccc;
}
#logo {
	position: relative;
	top: 100px;
	left: 10%;
}

/*********************MEDIA QUERIES*****************/
/*xs*/
@media (max-width: 767px){
	#bienvenido {
		font-size: 20px;
		left: 20%;
	}
}