<!DOCTYPE html>
<meta http-equiv="x-va-compatible" content="IE=edge">
<link rel="style sheet" type="text/css" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="styles/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<html>
<title>MAD MATHS</title>
<head>
	<H1 id="bienvenido">BIENVENIDO A</H1>
</head>
<body>
	<img id="logo" src="images/logo.png" width="80%" height="80%">
	<a class="button" href="">START</a>
</body>
</html>